/*-----------------------------------------
		BADGES
-----------------------------------------*/
nav.badges {
	display: flex;
	align-items: center;
	@media (--1024vp) {
		width: 50%;
		justify-content: center;
	}
	@media (--800vp) {
		width: 100%;
	}
	& .badge-icon {
		width: 65px;
		height: 65px;
		padding: 0;
		box-shadow: none;
		margin: 0 2vw;
	}
}