/*-----------------------------------------
    BREADCRUMBS NAVIGATION
-----------------------------------------*/
nav.breadcrumbs {
	width: 80vw;
	margin: 0 auto;
	font-family: var(--BodyCopy);
	font-size: responsive 14px 18px; 
	font-range: 420px 1400px;
	padding: 1vh 0;
	@media (--1024vp) {
		width: 90vw;
	}
}