/*-----------------------------------------
    PRIMARY NAVIGATION
-----------------------------------------*/
.primary-nav-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 2vh 3vw;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 12;
	@media (--800vp) {
		background-color: var(--PrimaryOne);
		position: fixed;
	}
	& > .block {
		@media (--800vp) {
			width: 100%;
			height: 60px;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
	& a.button {
		color: var(--PrimaryTwo);
		padding: .5em 1.25em;
		text-align: center;
		display: inline-block;
		margin: 0;
		&:hover, &:focus {
			color: var(--PrimaryOne);
			@media (--800vp) {
				background: transparent;
			}
		}
		& span {
			@media (--800vp) {
				display: none;
			}
		}
		& svg {
			display: none;
			@media (--800vp) {
				display: block;
			}
		}
	}
}
nav.nav-primary {
	display: inline-block;
	& ul {
		list-style: none;
		margin: 0;
		padding: 0;
		& li {
			display: inline-block;
			margin: 0 .35rem;
		}
	}
}
/*-----------------------------------------
    PRIMARY LOGO
-----------------------------------------*/
a.brand {
	text-decoration: none;
	@media (--800vp) {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		top: 10px;
	}
	& img, & svg {
		height: 100px;
		@media (--800vp) {
			height: 64px;
		}
	}
}
/*-----------------------------------------
    SEARH BANNER
-----------------------------------------*/
#search-toggle {
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 0 25px;
	padding: 0;
	background: transparent;
	@media (--800vp) {
		margin: 0;
	}
	&:hover, &:focus {
		background: transparent;
	}
	& svg {
		width: 30px;
		height: 30px;
	}
	& svg:first-child {
		display: block;
	}
	& svg:last-child {
		display: none;
	}
	&.is-active {
		& svg:first-child {
			display: none;
		}
		& svg:last-child {
			display: block;
		}
	}
}
#search {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: 0;
	overflow: hidden;
	z-index: 11;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: color( var(--PrimaryOne) alpha(85%) );
	transition: all .25s linear;
	&.is-active {
		height: 48vh;
		@media (--800vp) {
			height: 100vh;
		}
	}
	& form {
		width: 90%;
		max-width: 800px;
		display: flex;
		& input {
			background-color: transparent;
			border: 0;
			border-bottom: 2px solid var(--White);	
			color: var(--White);
			font-size: 2em;
			padding-left: 31px;
			text-align: center;
			margin: 0;
			width: 100%;
			height: unset;
			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				color: var(--White);
			}
			&::-moz-placeholder { /* Firefox 19+ */
				color: var(--White);
			}
			&:-ms-input-placeholder { /* IE 10+ */
				color: var(--White);
			}
			&:-moz-placeholder { /* Firefox 18- */
				color: var(--White);
			}
		}
		& button {
			font-size: 1em;
			margin: 0;
			padding: 0;
			background-color: transparent;
			border-bottom: 2px solid var(--White);
			width: unset;
		}
	}
}