/*-----------------------------------------
    BUTTONS
-----------------------------------------*/
button, .button {
	display: inline-block;
	padding: .75em 2.25em;
	margin: 0 .5em .5rem 0;
	cursor: pointer;
	border: none;
	background: var(--PrimaryOne);
	outline: none;
	letter-spacing: 1px;
	font-family: var(--HeadCopy);
	font-size: responsive 16px 18px; 
	font-range: 420px 1400px;
	color: var(--WhiteCopy);
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: all .25s ease-in-out;
	&:hover, &:focus, &.is-hover {
		background: var(--PrimaryTwo);
		color: var(--PrimaryOne);
	}
	&:active, &.is-active {
		background: color(var(--PrimaryTwo) shade(15%));
		color: var(--PrimaryOne);
	}
	&.is-secondary {
		background: var(--PrimaryTwo);
		&:hover, &:focus, &.is-hover {
			background: var(--PrimaryOne);
			color: var(--PrimaryTwo);
		}
		&:active, &.is-active {
			background: color(var(--PrimaryOne) shade(15%));
			color: var(--PrimaryTwo);
		}
	}
	&.is-small {
		padding: .5em 2em;
		font-size: responsive 16px 20px; 
		font-range: 420px 1400px;
	}
	&.is-ghost {
		background-color: transparent;
		padding: 0 .5em;
		color: var(--PrimaryOne);
		text-decoration: none;
		text-transform: uppercase;
		position: relative;
		font-family: var(--HeadCopy);
		font-size: responsive 16px 20px; 
		font-range: 420px 1400px;
		@media (--800vp) {
			font-size: responsive 23px 28px; 
			font-range: 420px 1400px;
		}
		&::after {
			content: '';
			background: var(--PrimaryTwo);
			height: 4px;
			width: 0;
			position: absolute;
			bottom: -4px;
			left: 0;
			transition: all .25s ease-in-out;
			@media (--800vp) {
				display: none;
			}
		}
		&:hover, &:focus, &.is-hover, &.is-active {
			&::after {
				width: 100%;
			}
		}
	}
}

/*-----------------------------------------
    SOCIAL BUTTONS
-----------------------------------------*/
.social-button {
	width: 75px;
	height: 75px;
	display: inline-block;
	padding: 16px;
	margin-right: 35px;
	margin-bottom: 10px;
	box-shadow: 0 2px 10px rgba(0, 67, 115, .2);
	border-radius: 10px;
	& svg {
		width: 100%;
		height: auto;
		fill: var(--PrimaryFour);
		transition: all .25s ease-in-out;
	}
	&.facebook:hover svg {
		fill: #3b5998;
	}
	&.instagram:hover svg {
		fill: #d10869;
	}
	&.twitter:hover svg {
		fill: #1dcaff;
	}
	&.linkedin:hover svg {
		fill: #0077B5;
	}
	&.pinterest:hover svg {
		fill: #C92228;
	}
}

/*-----------------------------------------
    ANCHORS
-----------------------------------------*/
.anchor {
	position: relative;
	top: -5vh;
}