/*-----------------------------------------
    FORMS
-----------------------------------------*/
form {
	& ul {
		list-style: none;
		margin: 0;
		padding: 0;
		&.gfield_checkbox li,
		&.gfield_radio li {
			margin: 0;
			width: auto;
		}
	}
	& li {
		display: inline-block;
		width: 100%;
		background-image: none;
		padding: 0;
		line-height: 1;
		margin: 0 0 .5em 0;
		&.half {
			width: 49%;
			margin-right: 1%;
			&.last {
				margin-right: 0;
				margin-left: 1%;
			}
			@media (--800vp) {
				width: 100%;
				margin-left: 0;
				margin-right: 0;
			}
		}
		&.third {
			width: 32.33%;
			margin: 0 .5%;
			&.first {
				margin-left: 0;
				margin-right: 1%;
			}
			&.last {
				margin-right: 0;
				margin-left: 1%;
			}
			@media (--800vp) {
				width: 100%;
				margin-left: 0 !important;
				margin-right: 0 !important;
			}
		}
		&.block li {
			display: block;
		}
	}
}
.validation_message {
	display: none;
}
.gform_confirmation_message {
	margin-top: 6vh;
	color: var(--PrimaryOne);
	font-family: var(--HeadCopy);
	font-size: 25px;
}

/*-----------------------------------------
    LABELS
-----------------------------------------*/
label {
	display: block;
	padding: .5em 0;
	font-size: 1.25rem;
	font-family: var(--BodyCopy);
	color: var(--PrimaryFive);
}
.ginput_container label,
.charleft {
	font-size: .75rem;
	margin-bottom: .5rem;
}

/*-----------------------------------------
    INPUTS
-----------------------------------------*/
input {
	font-family: var(--BodyCopy);
	background-color: var(--NeutralOne);
  border: 2px solid var(--NeutralOne);
	width: 100%;
	padding: .5em;
  &:focus {
    outline: none;
		border-color: var(--NeutralFour);
  }
	&.is-activated, 
	&.LV_valid_field {
		border-color: var(--PrimaryOne) !important;
	}
	&.LV_invalid_field {
		border-color: red !important;
	}
}

/*-----------------------------------------
    RADIO / CHECKBOXES
-----------------------------------------*/
input[type="radio"] {
	width: 14px;
	height: 14px;
	border-radius: 50%;
	margin: 0 .25em 0 .5em;
	vertical-align: baseline;
	appearance: none;
	&:checked {
		// background-color: green;
		// border-color: green;
	}
	& + label {
		color: var(--PrimaryFive);
		display: inline-block;
		font-size: 1rem;
		margin: 0;
	}
}
input[type="checkbox"] {
	width: 14px;
	height: 14px;
	border-radius: 4px;
	margin: 0 .25em 0 1em;
	vertical-align: baseline;
	appearance: none;
	&:checked {
		// background-color: green;
		// border-color: green;
	}
	& + label {
		color: var(--PrimaryFive);
		display: inline-block;
		font-size: 1rem;
		margin: 0;
	}
}

/*-----------------------------------------
    SELECT
-----------------------------------------*/
select {
	font-family: var(--BodyCopy);
  border: 2px solid var(--NeutralOne);
	background: var(--NeutralOne);
	padding: .5em;
	width: 100%;
  &:focus{
    outline: none;
  }
	&.is-activated, 
	&.LV_valid_field {
		// border-color: green;
	}
	&.LV_invalid_field {
		// border-color: red;
	}
}

/*-----------------------------------------
    TEXTAREA
-----------------------------------------*/
textarea {
	font-family: var(--BodyCopy);
  border: 2px solid var(--NeutralOne);
	background: var(--NeutralOne);
	padding: .5em;
	width: 100%;
  &:focus{
    outline: none;
  }
	&.is-activated, 
	&.LV_valid_field {
		// border-color: green;
	}
	&.LV_invalid_field {
		// border-color: red;
	}
}