/*-------------------------------------------------------------------

  PROCESSOR: POSTCSS
    http://postcss.org/
  SYNTAX: CSSNEXT
    http://cssnext.io/
  NAMING CONVENTIONS: MODULAR CSS with lower-case-hyphenated
    http://thesassway.com/advanced/modular-css-naming-conventions
  CSS Style: TABS
    http://www.sublimetext.com/docs/indentation
  CSS BASE: NORMALIZE
    https://necolas.github.io/normalize.css/
  FRAMEWORK: FLEX-BOX *SOON CSS GRID*
    https://css-tricks.com/snippets/css/a-guide-to-flexbox/
   
-------------------------------------------------------------------*/


/*-----------------------------------------
    VARIABLES
-----------------------------------------*/
:root {
  --White: #ffffff;
  --Black: #000000;
	--PrimaryOne: #34668a;
	--PrimaryTwo: #f5d548;
	--PrimaryThree: #243847;
	--PrimaryFour: #7C9EB2;
	--PrimaryFive: #6a8ca3;
	--PrimarySix: #2f4859;
	--NeutralOne: #f4f4f4;
	--NeutralTwo: #c1cfd9;
	--NeutralThree: #879297;
	--NeutralFour: #4D5454;
	--NeutralFive: #4D5454;
  --WhiteCopy: #ffffff;
  --BlackCopy: #000000;
	--NeutralCopy: #9eb1bc;
  --HeadCopy: 'Hammersmith One', sans-serif;
  --SubHeadCopy: 'Cabin', sans-serif;
  --BodyCopy: 'Cabin', sans-serif;
	--BodyCopy-Bold: 'Cabin Bold', sans-serif;
}

/*-----------------------------------------
    Media Queries
-----------------------------------------*/
@custom-media --550vp (width < 550px);
@custom-media --750vp (width < 750px);
@custom-media --800vp (width < 800px);
@custom-media --1024vp (width < 1024px);
@custom-media --1200vp (width < 1200px);

/*-----------------------------------------
    FORCES MEDIA QUERIES TO BE
		WRITTEN IN CORRECT ORDER
-----------------------------------------*/
div {
	@media (--1200vp) {
		box-sizing: inherit;
	}
	@media (--1024vp) {
		box-sizing: inherit;
	}
	@media (--800vp) {
		box-sizing: inherit;
	}
	@media (--750vp) {
		box-sizing: inherit;
	}
	@media (--550vp) {
		box-sizing: inherit;
	}
}

/*-----------------------------------------
    UNVERSAL BOX-SIZING
-----------------------------------------*/
html {
  box-sizing: border-box;
  font-size: 16px;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*-----------------------------------------
    ADMIN WP BAR
-----------------------------------------*/
body.admin-bar {
	margin-top: -32px;
	@media (--800vp) {
		margin-top: -46px;
	}
}

#wpadminbar {
	opacity: .25;
	position: fixed !important;
	top: -32px !important;
	transition: all .25s ease-in-out;
	@media (--800vp) {
		top: -46px !important;
	}
	&::after {
		content: "";
		left: 0;
		top: 100%;
		right: 0;
		height: 10px;
		position: absolute;
	}
	&:hover, &:focus {
		opacity: 1;
		top: 0 !important;
	}
}

/*-----------------------------------------
   WYSIWYG CLASSES
-----------------------------------------*/
.alignleft {
	float: left;
	margin: 8px 8px 8px 0;
	@media (--550vp) {
		float: none;
		margin: 10px auto;
		display: block;
	}
}
.alignright {
	float: right;
	margin: 8px 0 8px 8px;
	@media (--550vp) {
		float: none;
		margin: 10px auto;
		display: block;
	}
}
.aligncenter {
	margin: 0 auto;
	display: block;
}
.gallery {
	width: 120% !important;
	margin-left: -10% !important;
	position: relative;
	@media (--1200vp) {
		width: 100% !important;
		margin-left: 0 !important;
	}
	& figure {
		width: 33%;
		padding: 5px;
		margin: 0;
		@media (--800vp) {
			width: 50%;
		}
		& img {
			width: 100% !important;
		}
	}
}

/*-----------------------------------------
   CONTENT WRAPPER
-----------------------------------------*/
.default-contents {
	width: 100%;
	padding: 2vh 0 150px;
	position: relative;
	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
		background-image: url(../images/full-content-bg.svg);
		background-position: bottom -30px center;
		background-repeat: no-repeat;
		@media (--800vp) {
			background-position: bottom right;
			background-size: 1000px;
		}
	}
	& > .block {
		width: 90vw;
		max-width: 900px;
		margin: 0 auto;
	}
	& img, & svg {
		max-width: 100%;
		height: auto;
	}
	&.two-column {
		background-image: none;
		padding: 2vh 0 50px;
		& > .block {
			max-width: 80vw;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: flex-start;
			@media (--800vp) {
				max-width: 90vw;
			}
			& > h2 {
				width: 100%;
				text-align: center;
				& svg {
					display: block;
					margin: 3vh auto 0 auto;
				}
			}
			& .single-column {
				width: 50%;
				padding: 1vh 2vw;
				@media (--550vp) {
					width: 100%;
					padding: 0;
				}
			}
		}
	}
}