/*-----------------------------------------
    POST FEED
-----------------------------------------*/
.feed {
	width: 100%;
	margin: 0 auto;
	background-color: var(--White);
	padding: 25px 2vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	&.three-col {
		max-width: 1200px;
		& a {
			width: 33.33%;
			margin-bottom: 8vh;
			@media (--750vp) {
				width: 50%;
			}
			@media (--550vp) {
				width: 100%;
			}
		}
	}
	& a {
		text-decoration: none;
	}
}

/*-----------------------------------------
  	PAGINATION
-----------------------------------------*/
.pagination {
	text-align: center;
	padding: 75px 0 0 0;
	width: 100%;
	& > h2 {
		display: none;
	}
}

/*-----------------------------------------
    INFINITE SCROLL
-----------------------------------------*/
.page-load-status {
	width: 85vw;
	display: none;
  margin: 5vh auto;
	padding: 2vh 0;
  border-top: 1px solid var(--NeutralThree);
  color: var(--NeutralThree);
	text-align: center;
	& p {
		margin: 0;
	}
}

svg.loading path {
		fill: var(--PrimaryOne);
	}

.navigation.pagination {
	display: none;
}

.load-more {
	margin: 0 auto 8vh;
	display: flex;
}