/*-----------------------------------------
  	META DATA
-----------------------------------------*/
.meta {
	& time {
		display:inline-block;
		margin-right: .25em;
	}
	& p {
		margin: 0;
		display:inline-block;
		margin-right: .25em;
	}
}

/*-----------------------------------------
  	POST
-----------------------------------------*/
.post-preview {
	width: 100%;
	height: 100%;
	padding: 10px 10px 75px 10px;
	position: relative;
	display: inline-block;
	z-index: 1;
	transition: all .25s linear;
	&:hover, &:focus {
		background-color: var(--NeutralTwo);
		& .button {
			background: var(--PrimaryTwo);
			color: var(--PrimaryOne);
		}
	}
	& img {
		width: 100%;
	}
	& article header .featured-image {
    height: 230px;
    width: 100%;
    background-size: cover;
    background-position: 50%;
	}
	& h3 {
		font-size: responsive 20px 25px; 
		font-range: 420px 1400px;
		text-align: center;
		color: var(--PrimaryOne);
		margin: .5em 0;
		padding-top: 3vh;
	}
	& p {
		text-align: left;
	}
	& p.price {
		font-family: var(--HeadCopy);
		font-size: responsive 18px 20px; 
		font-range: 420px 1400px;
		color: var(--PrimaryThree);
		text-align: center;
		margin: 0;
	}	
	& .button {
		position: absolute;
		display: table;
		left: 50%;
		transform: translateX(-50%);
		bottom: 10px;
		padding: .75em 1.25em;
	}
}
.post-preview-kit {
	width: 100%;
	height: 100%;
	padding: 10px;
	padding: .625rem;
	margin: 25px 0;
	margin: 1.5625rem 0;
	position: relative;
	display: inline-block;
	transition: all .25s linear;
}
.pdf-card {
	width: 25%;
	padding: 1vh;
	display: inherit;
	position: relative;
	padding-top: calc(160px + 1vh);
	margin-bottom: 4vh;
	@media (--800vp) {
		width: 49%;
	}
	@media (--550vp) {
		width: 100%;
	}
	&:hover, &:focus {
		background-color: var(--NeutralTwo);
	}
	svg {
		position: absolute;
		top: 1vh;
		left: 18%;
		@media (--800vp) {
			left: 28%;
		}
	}
	h5 {
		color: var(--PrimaryThree);
		font-family: var(--BodyCopy);
		font-size: 18px;
		font-weight: 700;
		margin: 2vh 0 0;
	}
	p {
		color: var(--PrimaryThree);
		font-family: var(--BodyCopy);
		font-size: 18px;
	}
	.button {
		font-size: 16px;
		line-height: 30px;
		margin: 2vh 0 0;
		padding: .75em;
	}
}
/*-----------------------------------------
  	SEARCH
-----------------------------------------*/
.search-term {
	position: relative;
	&::after {
		content: '';
		position: absolute;
		height: 2px;
		left: 0;
		right: 0;
		background-color: var(--PrimaryTwo);
		bottom: -2px;
	}
}
.search-feed hr:last-of-type {
	display: none;
}