/*-----------------------------------------
  	SINGLE POST
-----------------------------------------*/
.single {
	.page-title {
    height: unset;
	}
	.title-section {
		& > .block {
			margin-top: 120px;
		}
	}
	article {
		.default-contents {
			padding: 25px 2vw;
			max-width: 1200px;
			margin: 0 auto;
			&:after {
				display: none;
			}
		}
	}
}
.entry-time {
	color: var(--White);
}
.categories {
	margin-bottom: 6vh;
	a {
		color: var(--White);
		text-decoration: none;
	}
}