/*-----------------------------------------
    CONTACT
-----------------------------------------*/
.contact {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	height: 55vh;
	position: relative;
	@media (--750vp) {
		height: auto;
	}
	& .guarantee {
		width: 50%;
		height: 100%;
		padding: 2vh 3vw;
		background-image:url(../images/woodgrain.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		@media (--750vp) {
			width: 100%;
			height: auto;
		}
		&::after {
			content: '';
			background-color: color(#34668a alpha(85%) );
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
		& > .block {
			position: relative;
			z-index: 2;
			max-width: 500px;
			& h3, & p {
				color: var(--PrimaryTwo);
			}
		}
	}
	& .contact-details {
		width: 50%;
		height: 100%;
		padding: 2vh 3vw;
		border: 9px solid var(--PrimaryTwo);
		display: flex;
		justify-content: center;
		align-items: flex-start;
		@media (--750vp) {
			width: 100%;
			height: auto;
		}
		& > .block {
			max-width: 500px;
		}
	}
}