/*-----------------------------------------
    SPLIT CTAS
-----------------------------------------*/
.split-block {
	position: relative;
	& > h2 {
		text-align: center;
		max-width: 800px;
		margin: 3rem auto
	}
}
.split-cta {
	height: 50vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	@media (--800vp) {
		display: block;
		height: auto;
	}
	&:nth-of-type(even) {
		& .image {
			order: 2;
		}
		& .content {
			order: 1;
			background-image: url(../images/left-content-bg.svg);
			background-position: bottom -18px left -18px;
		}
	}
	& .image {
		width: 50%;
		height: 100%;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		@media (--800vp) {
			width: 100%;
			height: 35vh;
		}
	}
	& .content {
		width: 50%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background-image: url(../images/right-content-bg.svg);
		background-position: bottom -18px right -18px;
		background-repeat: no-repeat;
		@media (--800vp) {
			width: 100%;
			padding: 4vh 3vw;
		}
		& > .block {
			max-width: 500px;
			width: 80%;
		}
	}
}