/*-----------------------------------------
    JOIN
-----------------------------------------*/
.join-now {
	border: 9px solid var(--PrimaryTwo);
	background-image: url(../images/icon-texture.svg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
	padding: 0 4vw;
	& > h2 {
		text-align: center;
	}
	& > a.button {
		margin: 0;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 50%);
		@media (--800vp) {
			width: 75vw;
		}
	}
	& .contents {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: center;
		@media (--800vp) {
			padding-bottom: 50px;
		}
		& > .block {
			width: 33%;
			padding: 1vh 2vw;
			@media (--800vp) {
				width: 100%;
				padding: 0 3vw;
			}
		}
	}
}
#gallery-2 {
	& .gallery-item:last-of-type {
		width: 66%;
		@media (--800vp) {
			width: 50%;
		}
	}
}