/*-----------------------------------------
    META TAG CARDS
-----------------------------------------*/
.meta-card {
	display: inline-block;
	margin: 3vh auto;
	padding: 2vh;
	background-color: var(--NeutralTwo);
	& p {
		margin: .5rem 0;
		display: table;
		&:last-child {
			margin-bottom: 0;
		}
	}
}