/*-----------------------------------------
    STICKY DEALS
-----------------------------------------*/
.sticky-deal {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 1rem 4px;
	background-color: var(--PrimaryTwo);
	z-index: 10;
	@media (--800vp) {
		position: relative;
		display: block;
		text-align: center;
		padding: 5vh 2vw;
	}
	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 30px;
		background-image: url(../images/RulerMarks.svg);
		background-position: top center;
		backgorund-size: 100% auto;
		background-repeat: repeat-x;
	}
	& p {
		text-align: left;
		color: var(--PrimaryOne);
		display: inline-block;
		margin: 0 10px;
		position: relative;
		z-index: 2;
		@media (--800vp) {
			text-align: center;
			margin: 0 0 1em 0;
			width: 90%;
		}
	}
	& p.deal {
		font-size: responsive 42px 42px; 
		font-range: 420px 1400px;
		font-family: var(--HeadCopy);
		font-weight: 400;
		text-transform: uppercase;
		margin: 0 10px;
	}
	& a.button {
		margin: 0 10px;
		vertical-align: super;
		position: relative;
		z-index: 2;
		&:hover, &:focus {
			background: var(--White);
		}
	}
}