/*-----------------------------------------
   TESTIMONIES
-----------------------------------------*/
.testimonies {
	background-image:url(../images/woodgrain.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	padding: 2vh 0;
	&::after {
		content: '';
		background-color: color(#34668a alpha(85%) );
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
	& > .block {
		position: relative;
		z-index: 2;
		max-width: 1024px;
		width: 90vw;
		margin: 0 auto;
		& h2 {
			color: var(--WhiteCopy);
			text-align: center;
			font-size: responsive 30px 35px; 
			font-range: 420px 1400px;
		}
	}
}

/*-----------------------------------------
   TESTIMONIES SLIDER
-----------------------------------------*/
.testimonies-slider {
	position: relative;
	& > svg {
		cursor: pointer;
		z-index: 10;
		&:first-of-type {
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-100%)
		}
		&:last-of-type {
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-100%)
		}
	}
}

/*-----------------------------------------
   TESTIMONy PREVIEW
-----------------------------------------*/
.testimony {
	outline: none;
	& blockquote, q {
		& p {
			color: var(--WhiteCopy);
			&:first-child {
				text-align: left;
			}
		}
	}
}