/*-----------------------------------------
  TITLE WRAPPER
-----------------------------------------*/
.title-section {
	width: 100%;
	padding: 5vh 0;
	background-color: var(--NeutralTwo);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	& > .block {
		position: relative;
		margin-top: 75px;
		z-index: 2;
		@media (--800vp) {
			margin: 0;
		}
	}
	& h1 {
		margin: 0 auto;
		width: 80vw;
		@media (--1024vp) {
			width: 90vw;
		}
	}
}

/*-----------------------------------------
   PAGE TITLES
-----------------------------------------*/
.page-title {
	height: 48vh;
	min-height: 300px;
	padding: 0 2vw;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	text-align: center;
	@media (--800vp) {
		padding-top: 100px;
		padding-bottom: 0;
		min-height: 35vh;
		height: auto;
	}
	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(52, 102, 138, 0.55);
	}
	& h1 {
		color: var(--WhiteCopy);
	}
	& h2 {
		color: var(--WhiteCopy);
		max-width: 600px;
		margin: .5em auto 1em;
	}
}
.home .page-title { 
	min-height: 55vh;
	@media (--800vp) {
		min-height: 75vh;
	}
}
/*-----------------------------------------
   POST TITLES
-----------------------------------------*/
.post-title {

}

/*-----------------------------------------
   VIDEO BACKGROUNDS
-----------------------------------------*/
.video-wrap{
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	@media (--800vp) {
		display: none;
	}
	& video {
		position: absolute;
		min-width: 100%;
		min-height: 100%;
		left: 0;
		right: 0;
	}
}